{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자소설 닷컴</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>

<body>
    <!-- 회원가입, 로그인, 로그아웃 부분-->
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}"><button>로그아웃</button></a>
    안녕하세요, {{ user }}님!
    {% else %}
    <a href="{% url 'signup' %}"><button>회원가입</button></a>
    <a href="{% url 'login' %}"><button>로그인</button></a>
    {% endif %}
    <p></p>

    <!-- 자소서 작성 버튼 부분 -->
    <div class="make_jss">
        <a href="{% url 'create' %}">
            <div class="plus_btn">
                +
            </div>
        </a>
        <p>자기소개서 작성</p>
    </div>

    {% if user.is_authenticated %}
        <a href="{% url 'my_index' %}">
            <button>내 자기소개서만 보기</button>
        </a>
        <a href="{% url 'index' %}">
            <button>모든 자기소개서 보기</button>
        </a>

        <br>
        <!-- 지금까지 작성된 자소서 띄워주는 부분 -->
        {% for jss in all_jss %}
        <a href="{% url 'detail' jss.id %}">
            <!--url을 걸어주면서 동시에 jss_id 전송-->
            <div class="all_jss">
                <p>{{ jss.author }}</p>

                <p>{{ jss.title }}</p>

                <p>{{ jss.content }}</p>

                <p>{{ jss.updated_at|date:"Y년m월d일" }}</p>
            </div>
        </a>
        {% endfor %}
    {% endif %}
</body>

</html>